.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 20px;
}

.btnDiv {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn {
  height: 42px;
  border: none;
  border-radius: 10px;
  color: aliceblue;
  background-color: #32cd32;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  cursor: pointer;
}

.btn:hover{
    background-color: green;
}

.btn:not(:last-child) {
  margin-right: 42px;
  color: black;
  background-color: red;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}


.btn:not(:last-child):hover{
    background-color: darkred;
}